* {
    margin: 0;
}

.TopBar {
    background-color: #f7f7f7;
    border-bottom: 1px dashed #e5e5e5;
}

.TopBar-wp {
    text-align: right;
    width: 1170px;
    margin: 0 auto;
    line-height: 64px;
}

.Nav {
    background-color: #fff;
}

.Nav-wp {
    width: 1170px;
    margin: 0 auto;
    font-size: 0;
}

.Nav-link {
    text-decoration: none;
    color: #626262;
    display: inline-block;
    width: 180px;
    font-size: 16px;
    text-align: center;
    line-height: 100px;
}

.Nav-link:hover {
    color: #28013c;
}

.Nav-link.is-logo {
    width: 88px;
}

.Nav-link.is-logo>img {
    vertical-align: middle;
}

.Banner {
    height: 632px;
    background-color: #4e4c54;
}
