{
    "presets": [
        ["env",
        {
            "targets":
            {
                "browsers": ["android>=4.0", "ios>=7.0", "ie>=8", "> 1% in CN"]
            },
            "useBuiltIns": "usage",
            "modules": false,
            "loose": true
        }]
    ]
}