<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
</head>

<body>
    <div id="staggered-list-demo">
        <input v-model="query">
        <!-- 因为是全部用js完成动画，所以v-bind:css="false"，避开css动画检查，提高效率；并在各个动画钩子处绑定动画函数 -->
        <transition-group name="staggered-fade" tag="ul" v-bind:css="false" v-on:before-enter="beforeEnter" v-on:enter="enter" v-on:leave="leave">
            <!-- 绑定唯一的key并绑定索引 -->
            <li v-for="(item, index) in computedList" v-bind:key="item.msg" v-bind:data-index="index">{{ item.msg }}</li>
        </transition-group>
    </div>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript">
    new Vue({
        el: '#staggered-list-demo',
        data: {
            query: '',
            list: [
                { msg: 'Bruce Lee' },
                { msg: 'Jackie Chan' },
                { msg: 'Chuck Norris' },
                { msg: 'Jet Li' },
                { msg: 'Kung Fury' }
            ]
        },
        computed: {
            computedList: function() {
                var vm = this
                return this.list.filter(function(item) {
                    return item.msg.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1
                })
            }
        },
        methods: {
            beforeEnter: function(el) {
                el.style.opacity = 0
                el.style.height = 0
            },
            enter: function(el, done) {
                // 根据索引创建延迟
                var delay = el.dataset.index * 150;
                setTimeout(function() {
                    Velocity(
                        el, { opacity: 1, height: '1.6em' }, { complete: done }
                    )
                }, delay)
            },
            leave: function(el, done) {
                var delay = el.dataset.index * 150
                setTimeout(function() {
                    Velocity(
                        el, { opacity: 0, height: 0 }, { complete: done }
                    )
                }, delay)
            }
        }
    })
    </script>
</body>

</html>